@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD

=======
>>>>>>> 7bc7f865c4e2cf074e0fa9f5d98de2203a9ae6bb
:root {
  --primary: #8a05be;
  --secondary: #530082;
  --tertiary: #ba4de3;
  --text: #191919;
  --text-contrast: #fff;
  --bg: #ffffff;
  --contrast: #f5f5f5;
  --white: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #8a05be;
    --secondary: #530082;
    --tertiary: #ba4de3;
    --text: #191919;
    --text-contrast: #fff;
    --bg: #ffffff;
    --contrast: #f5f5f5;
    --white: #fff;
  }
}

<<<<<<< HEAD

=======
>>>>>>> 7bc7f865c4e2cf074e0fa9f5d98de2203a9ae6bb
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Inter';
  font-weight: 300;
}
